body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.title {
    font-size: 16px !important;
    vertical-align: middle;
    background-color: steelblue;
    color: #fff;
    width: 100%;
    height: 30px;
    margin-top: 1em !important;
    margin-right: 0em !important;
    margin-bottom: 15px !important;
    margin-left: 0em !important;
    border-radius: 5px;
}

    .title label {
        background-color: steelblue;
        font-size: 16px !important;
        text-align: left;
        color: #fff !important;
        width: 100%;
        padding-top: 5px;
        padding-left: 5px;
        height: 0px;
    }

h4 label {
    font-size: 16px !important;
    color: #000;
    width: 100%;
    padding-top: 5px;
    padding-left: 5px;
}

.jump-line {
    height: 10px;
}

.label-listing {
    background-color: #fafafa;
    color: #a8a8a8 !important;
    font-size: 12px !important;
    font-weight: bold;
    vertical-align: middle !important;
    text-overflow: ellipsis;
    height: 25px;
    margin: 0px;
    text-align: left;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #e6e6e6;
    padding-top: 3px;
}

    .label-listing label {
        padding: 0em !important;
        margin: 0em !important;
    }

.content-listing {
    background-color: #fff;
    color: #333;
    font-size: 11px !important;
    height: 20px;
    margin: 0px;
    text-align: left;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #e6e6e6;
    padding-top: 3px !important;
    padding-right: 0.5em !important;
    padding-bottom: 2em !important;
    padding-left: 0.5em !important;
}
